<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autodesk.Forge" version="1.7.0" targetFramework="net461" />
  <package id="Autodesk.Forge.Bim360.ModelCoordination.Clash" version="3.3.28" targetFramework="net461" />
  <package id="Autodesk.Forge.Bim360.ModelCoordination.Index" version="1.2.45" targetFramework="net461" />
  <package id="Autodesk.Forge.Bim360.ModelCoordination.ModelSet" version="3.0.66" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="NLog" version="4.6.3" targetFramework="net461" />
  <package id="RestSharp" version="106.6.9" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
</packages>